<template>
    <div class="panel-body">
        <form id="formulario">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label for="xn">Alfa (&alpha;):</label>
                        <input type="text" name="alfa" v-model="alfa" class="form-control" required placeholder="Ingrese la constante de deslizamiento." />
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="datos">Numero de Datos (Datos y Valor)</label>
                    <div class="input-group">
                      <input type="text" name="datos" v-model="datos" class="form-control" placeholder="Ingrese el numero de datos a generar">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" v-on:click="generarCampos">Generar Campos</button>
                    </span>
                </div>
                
            </div>
            <br>
            <div id="llegadaservicio" style="padding: 5px;">
                <label>
                    Informacion
                </label>
                <table class="table" id="probabilidad3">
                    <tbody>
                        <tr>
                            <th>Año</th>
                            <th>Exportaciones</th>
                            <th>Estimacion Alisado</th>
                        </tr>

                        <tr v-for="(campo, index) in campos">
                            <td>
                                <input type="text" class="form-control" placeholder="Dato" v-model="campo.dia">
                            </td>
                            <td>
                                <input type="text" class="form-control"  placeholder="Valor" v-model="campo.exportacion">
                            </td>
                            <td>
                                <input type="text" class="form-control"  placeholder="Valor" v-model="campo.alisada">
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>

        </div>

        <center v-if="campos.length != 0"><button class="btn btn-md btn-success" type="button" v-on:click="calcular">Calcular</button></center>
    </form>


    <table class="table table-bordered table-hover table-striped" v-if="resul.length != 0">
        <tbody><tr>
            <th colspan="5" align="center">Resultados de Promedio Movil</th>
        </tr>
        <tr>
            <th style="text-align: center;">Día/Año</th>
            <th style="text-align: center;">Exportaciones</th>
            <th style="text-align: center;">Estimacion Alisada</th>
        </tr>
        <tr v-for="item in resul">
            <td style="text-align: center;">{{item.dia}}</td>
            <td style="text-align: center;">{{item.exportacion}}</td>
            <td style="text-align: center;">{{item.alisada}}</td>
        </tr>

    </tbody>
</table>
   
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data(){
            return{
                campos: [],
                alfa: 0, 
                datos: 0,
                resul: []
            }
        },

        methods: {

            generarCampos: function(event){
                this.campos = []
                this.resul = []
                for(var i=1; i <= this.datos; i++){
                   this.campos.push({ dia: 0, exportacion: 0, alisada: 0 })
               }
           },

           calcular: function(){
            this.resul = []
                var alfa = Number.parseFloat(this.alfa)  //Obtengo el periodo
                var unoalfa = 1 - alfa
                var campos = this.campos
                var alisado = 0
                var Sn = 0
                var Xn = 0
                var deci = 0


                    this.resul.push(
                    {
                        dia: campos[0].dia, 
                        exportacion: campos[0].exportacion,
                        alisada:campos[0].alisada
                    })

                for(var i=1; i< this.datos; i++){


                 Sn =  Number.parseFloat(alisado).toFixed(2)
                 Xn =  Number.parseFloat(campos[i-1].exportacion).toFixed(2)

                 if(Sn==0){ deci = 10}  else{ deci = 1}
                 //Calculo el suavizamiento basico
                 alisado = (Xn*alfa)*deci + (Sn*unoalfa)

                    this.resul.push(
                    {
                        dia: campos[i].dia, 
                        exportacion: campos[i].exportacion,
                        alisada:Number.parseFloat(alisado).toFixed(2)
                    })
                



            }

        },


        }



    }
</script>
