<template>
    <div class="panel-body">
        <form id="formulario">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label for="xn">Periodo (n):</label>
                        <input type="text" name="n" v-model="n" class="form-control" required placeholder="Ingrese el periodo (n)" />
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="datos">Numero de Datos (Dias y Ventas)</label>
                    <div class="input-group">
                      <input type="text" name="datos" v-model="datos" class="form-control" placeholder="Ingrese el numero de datos a generar">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" v-on:click="generarCampos">Generar Campos</button>
                    </span>
                </div>
                
            </div>

            <div id="llegadaservicio" style="padding: 5px;">
                <label>
                    Datos
                </label>
                <table class="table" id="probabilidad3">
                    <tbody>
                        <tr>
                            <th>Día</th>
                            <th>Ventas</th>
                        </tr>

                        <tr v-for="(campo, index) in campos">
                            <td>
                                <input type="text" class="form-control" name="Dx" placeholder="Valor" v-model="campo.dia">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Vx" placeholder="Probabilidad" v-model="campo.valor">
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>

        </div>

        <center v-if="campos.length != 0"><button class="btn btn-md btn-success" type="button" v-on:click="calcular">Calcular</button></center>
    </form>


    <table class="table table-bordered table-hover table-striped" v-if="resul.length != 0">
        <tbody><tr>
            <th colspan="5" align="center">Resultados de Promedio Movil</th>
        </tr>
        <tr>
            <th style="text-align: center;">Día</th>
            <th style="text-align: center;">Venta</th>
            <th style="text-align: center;">Pronostico</th>
        </tr>
        <tr v-for="item in resul">
            <td style="text-align: center;">{{item.dia}}</td>
            <td style="text-align: center;">{{item.valor}}</td>
            <td style="text-align: center;">{{item.pronostico}}</td>
        </tr>

    </tbody>
</table>


</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data(){
            return{
                campos: [],
                n: 0, //Periodo
                datos: 0,
                resul: []
            }
        },

        methods: {

            generarCampos: function(event){
                this.campos = []
                for(var i=1; i <= this.datos; i++){
                 this.campos.push({ dia: '', valor: '' })
             }
         },

         calcular: function(){
            this.resul = []
                var n = Number(this.n)  //Obtengo el periodo
                var periodo_anterior = 0

                //Obtengo el total de Dx a los que e voy a sacar el pronostico
                var Dpronostico = this.campos.slice(n, this.datos) 

               //calculo el promedio movil simple
               var i = 0         
               for(const prop in Dpronostico){

                var datos_sum = this.campos.slice(i, n+i)

                this.resul.push(
                {
                    dia: Dpronostico[prop].dia, 
                    valor: Dpronostico[prop].valor,
                    pronostico:Number.parseFloat(this.pronos(datos_sum)/n).toFixed(2)
                })

                i++


            }
        },

            //Calculo el pronostico
            pronos: function(array){

                var suma = 0
                for(const value in array){

                    suma += Number(array[value].valor)

                }
                return suma
            },


        }



    }
</script>
