<template>
    <div class="panel-body">
        <form id="formulario">
            <div class="row">
               <!--  <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label for="xn">Alfa (&alpha;):</label>
                        <input type="text" name="alfa" v-model="alfa" class="form-control" required placeholder="Ingrese la constante de deslizamiento." />
                    </div>
                </div> -->

                <div class="col-md-12">
                    <label for="datos">Numero de Datos (Datos y Valor)</label>
                    <div class="input-group">
                      <input type="text" name="datos" v-model="datos" class="form-control" placeholder="Ingrese el numero de datos a generar">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" v-on:click="generarCampos">Generar Campos</button>
                    </span>
                </div>
                
            </div>
            <br>
            <div id="llegadaservicio" style="padding: 5px;">
                <label>
                    Informacion
                </label>
                <table class="table" id="probabilidad3">
                    <tbody>
                        <tr>
                            <th>Año</th>
                            <th>Exportaciones</th>
                            <th>Estimacion Alisado</th>
                        </tr>

                        <tr v-for="(campo, index) in campos">
                            <td>
                                <input type="text" class="form-control" placeholder="Dato" v-model="campo.dia">
                            </td>
                            <td>
                                <input type="number" class="form-control"  placeholder="Valor" v-model="campo.valor">
                            </td>

                        </tr>


                    </tbody>
                </table>

            </div>

        </div>

        <center v-if="campos.length != 0"><button class="btn btn-md btn-success" type="button" v-on:click="linear_regression">Calcular</button></center>
    </form>


    <table class="table table-bordered table-hover table-striped" v-if="table.length != 0">
        <tbody>
            <tr>
                <th colspan="5" align="center">Resultados</th>
            </tr>
            <tr>
                <th style="text-align: center;">x</th>
                <th style="text-align: center;">y</th>
                <th style="text-align: center;">xy</th>
                <th style="text-align: center;">(x)2</th>
            </tr>
            <tr v-for="item in table">
                <td style="text-align: center;" >{{item.x}}</td>
                <td style="text-align: center;">{{item.y}}</td>
                <td style="text-align: center;">{{item.XY}}</td>
                <td style="text-align: center;">{{item.X2}}</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th style="text-align: center;">{{resul[0].SumaX}}</th>
                <th style="text-align: center;">{{resul[0].SumaY}}</th>
                <th style="text-align: center;">{{resul[0].SumaXY}}</th>
                <th style="text-align: center;">{{resul[0].SumaX2}}</th>
            </tr>
        </tfoot>
    </table>

    <div class="row" v-if="resul.length != 0">
        <div class="col-md-4"><h4><b>n=</b>{{resul[0].N}}</h4></div>
        <div class="col-md-4"><h4><b>Pendiente=</b>{{resul[0].pendiente}}</h4></div>
        <div class="col-md-4"><h4><b>Intercepcion=</b>{{resul[0].intercepcion}}</h4></div>
        <div class="col-md-12">
         <GChart
         type="BubbleChart"
         :data="chartData"
         :options="chartOptions"
         style="width: 900px; height: 500px;"
         />

     </div>


 </div>


</div>
</template>

<script>
    import { GChart } from 'vue-google-charts'
   

    export default {
        mounted() {
            //console.log('Component mounted.')
        },

        components: {
            GChart,

        },

        data(){
            return{
                campos: [],
                alfa: 0, 
                datos: 0,
                resul: [],
                table: [],
                chartData: [],
                chartOptions: {
                    colorAxis: { colors: ["yellow", "red"] }
                },

            }
        },

        methods: {

            generarCampos: function(event){
                this.campos = []
                this.resul = []
                for(var i=1; i <= this.datos; i++){
                 this.campos.push({ dia: 0, exportacion: 0})
             }
         },

         linear_regression: function(x,y){
            var n = this.datos //Numero de items que tiene el array
            var x2 = []
            var calX2 = 0
            var calXY = 0
            var x2_sum = 0
            var xy = []
            var xy_sum = 0
            var pendiente = 0
            var intercep = 0
            var arraX = []
            var arraY = []
            //Sumo todos los valores del array
            var x_sum = this.sumArray(this.campos, 'x') 
            var y_sum = this.sumArray(this.campos, 'y') 
            //Calculo x2
            for(const item in this.campos){
                calX2 = Math.pow(this.campos[item].dia,2)
                x2.push(Number(calX2).toFixed(2))
            }
            //Calculo XY
            for(const item in this.campos){
                calXY = this.campos[item].dia * this.campos[item].valor
                xy.push(Number(calXY).toFixed(2))
            }

            if(x2.length >0){x2_sum=this.sumArray(x2,0)}
                if(xy.length >0){xy_sum=this.sumArray(xy,0)}

            //Calculo la pendiente
        pendiente = (((parseInt(n)*parseFloat(xy_sum))-(parseFloat(x_sum) * parseFloat(y_sum))) / ((parseInt(n)*parseFloat(x2_sum))-(parseFloat(x_sum)*parseFloat(x_sum))))

            //Calculo la intercepcion
            intercep = ((parseFloat(y_sum) -(parseFloat(pendiente)*parseFloat(x_sum))) / parseInt(n))

            //Agrego los datos de para X
            for(const item in this.campos){
                arraX.push(this.campos[item].dia)
            }
            //Agrego los datos de para Y
            for(const item in this.campos){
                arraY.push(this.campos[item].valor)
            }

            //Cargo los datos en la variable tabla 
            for(var i=0; i<arraX.length;i++){
                this.table.push({
                    x: arraX[i],
                    y: arraY[i],
                    XY: xy[i],
                    X2: x2[i]
                })
            }

            this.resul.push(
            {
                N: n,
                x: arraX,
                y: arraY,
                SumaX: x_sum, 
                SumaY: y_sum,
                X2: x2,
                SumaX2: x2_sum,
                XY: xy,
                SumaXY: Number(xy_sum).toFixed(2) ,
                pendiente: pendiente,
                intercepcion: intercep
            })

            //Grafico
            this.chartData.push(["ID","X", "Y"])
            for(var i=0; i<arraX.length;i++){
                this.chartData.push(["",parseInt(arraX[i]), parseInt(arraY[i])])
            }


        },

         //Funcion para obtener la suma de los valores del objeto
         sumArray: function(array, tipo){
            var sum = 0
            if(tipo == 'x'){// Suma x
                for(var i=0; i< this.datos; i++){
                    sum += Number(array[i].dia)
                }
            }else if(tipo == 'y'){//Suma y
                for(var i=0; i< this.datos; i++){
                    sum += Number(array[i].valor)
                }
            }else{
                for(var i=0; i<array.length; i++){
                    sum += parseFloat(array[i])
                }
            }
            
            return sum
        },


    },


}


</script>
